body{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
div.bdiv{

	background-color: #d7e7f4;

}
div.border{
	background-color: white;
height: 800px;
width:1000px;
margin:auto;
}
div.logo{
	float:left;
	margin-left:22px;
}
div.link{
	float:right;
	margin-top:22px;
		margin-right:22px;

}
div.input{
	float:left;
	margin-left:650px;
	
}
div.img{
	float:right;
	margin-right:22px;
}
hr.line{
	margin-top:200;
	border:3px solid black;
}
