body{
    margin: 0px;
}


.top{
	background-color: #222222;
	height: 40px;
}
.menu{
	display:none;
}

.contain{
	clear: both;
}
.toplist{
	font-weight: 500;
	color: #777777;
	font-size:15px;
	padding: 10px 20px 10px 20px;
	font-family: sans-serif;
}
.top span{
	padding-left: 1.8%;
}
.main{
	margin-left: 2.2%;
	font-size:18px;
}


.head{
	margin: 5%;
}
.largeheading{
		margin-left: .7%;
	}
#heading{
	
	font-size: 240%;
	font-weight: 200;
	color: #222222;
}

#heading span{
    padding: 1%;
	color : #787d80;
	display : inline-block; 
	font-size : 65%; 
}

.part{
	background-color:#eeeeee ;
	 height: 1px;
	 margin-left: 1%;
	 margin-right: 2%;
}

.box{
	margin-top: 1.5%;
	padding: 1%;
	width: 31%;
	float: left;
	margin-bottom: 1.5%;
}
img{
	width: 100%;
	height: 40%;
}
.pera{
  	padding-top: 2%;
  	width: 100%;
  	font-size: 14px;
  	
  }
label{
	color: #6eafe1;
	font-size: 25px;
	font-family: AtlasGrotesk, sans-serif;

}
p {
	font-size: 14px;
	font-weight: 300;
	font-family: sans-serif;
	line-height: 20px;
	opacity: .8;
}
.footer{
	clear: both;
	margin: 0% 5% 5% 5%;
	color: #222222;
	font-family: AtlasGrotesk, sans-serif;
    opacity: 0.5;
	}
.footer div{ 
	clear: both;
	margin-bottom: 5%;
}
 

@media screen and (max-width: 768px) and (min-width: 425px) {
.main{
	margin-left: 4%;
}
.head{
	clear: both;
	margin: 6%;
	}
	#heading{
	
	font-size: 300%;
	font-weight: 200;
	color: #222222;
}

#heading span{
    padding: 0px;
	color : #787d80;
	display : inline-block; 
	font-size : 80%; 
}
.largeheading{
		margin-left: 1.5%;
	}


.part{
	background-color:#eeeeee ;
	 height: 1px;
	 margin-left: 2%;
	 margin-right: 4%;
}

.box{
	margin-top: 1%;
	padding: 2%;
	width: 45%;
	float: left;
	margin-bottom: 1%;
}
img{
	width: 100%;
	height: 50%;
}
.pera{
  	padding-top: 2%;
  	width: 100%;
  	font-size: 16px;
  	
  }
label{
	color: #6eafe1;
	font-size: 28px;
	font-family: AtlasGrotesk, sans-serif;

}
p {
	font-size: 14px;
	font-weight: 300;
	font-family: sans-serif;
	line-height: 18px;
	opacity: .8;
}
.footer{
	clear: both;
	margin: 0% 8% 8% 8%;
	color: #222222;
	font-family: AtlasGrotesk, sans-serif;
    opacity: 0.5;
	}
.footer div{ 
	clear: both;
	margin-bottom: 5%;
}
}
@media screen and (max-width: 550px) and (min-width: 425px) {
	#heading span{
    margin-left: 5px;
	color : #787d80;
	display : inline-block; 
	font-size : 80%; 
}
}
@media screen and (max-width: 425px){
.top{
	height: 50px;
}
.menu{
	display: block; 
	padding: 12px 0px 10px 0px;
}
.menu li{
	font-weight: 500;
	color: #777777;
	font-size:18px;
	font-family: sans-serif; 
	float: left;
}
label .img{
	
	padding-right: 10%;
	float: right; 
	width: 30px;
}

.toplist{
	display: none;
}

.contain {
 margin-top: -7px;
 top: 10px;
}
#tog {
  display: none;
}
#menu1 {

  display: none;
 
}
#tog:checked + #menu1 {
  display: block;
  width: 100%;
  padding-left: 0px;
}
#menu1 li{
	padding-left: 0px
	position: relative;
  margin-bottom: 1px;
  font-size: 18px;
  width: 100%;
  background-color:#222222;
  color: white;
   }

#menu1 li:active {
background-color: #6eafe4;
}


.head{
	clear: both;
	margin: 10%;
	}

.largeheading{
		padding-left: 5px
	}
#heading{
	margin-left: 4%;
	font-size: 240%;
	font-weight: 200;
	color: #222222;
}

#heading span{
    padding: 3%;
	color : #787d80;
	display : inline-block; 
	font-size : 80%; 
}
.part{
	 background-color:#eeeeee ;
	 height: 1px;
	 margin-left: 5%;
	 margin-right: 3%;
}

.box{
	margin-top: 1%;
	padding: 5%;
	width: 92%;
	float: left;
	margin-bottom: 1%;
}
.box img{
	width: 100%;
	height: 70%;
}
.pera{
  	padding-top: 2%;
  	width: 100%;	
  }
label{
	color: #6eafe1;
	font-size: 30px;
	font-family: AtlasGrotesk, sans-serif;

}
p {
	font-size: 18px;
	font-weight: 300;
	font-family: sans-serif;
	line-height: 16px;
	opacity: .8;
}
.footer{
	clear: both;
	margin: 0% 15% 15% 15%;
	color: #222222;
	font-family: AtlasGrotesk, sans-serif;
    opacity: 0.5;
	}
	.footer span{
		margin-left: 5%;
	}
.footer div{ 
	clear: both;
	margin-bottom: 5%;
}
}
@media screen and (max-width: 325px){
	#heading{
	margin-left: 0%;
	font-size: 240%;
	font-weight: 200;
	color: #222222;
}
	#heading span{
		padding-left: 0%;
	}
	.largeheading{
		padding-left: 5%;
	}
	}
}

@media screen and (max-width: 355px){
	#heading{
	margin-left: 3%;
	font-size: 150%;
	font-weight: 200;
	color: #222222;
}

#heading span{
    padding: 3%;
	color : #787d80;
	display : inline-block; 
	font-size : 45%; 
}
}