body
{
margin:0px;
}
div.div1{
	background-color: 
	black;width: 97%; 
	padding: 18px;

}
span.span1{
	opacity:0.7;
	font-size:17px; 
	font-family: sans-serif;
	color: #A9A9A9;
  text-align: center;
  font-weight:bold
  padding: 22px 0px;
 
  transition: 0.0s;
  
	margin-left: 85px;
}

span.span2{
	
	opacity:0.7;
	margin-left: 1.70em;
	font-size:14px; 
	 
	font-family: sans-serif;
	color: #A9A9A9;
  text-align: center;
  padding: 14px 0px;
 
  transition: 0.0s;
  
}

div.div2{
	width: 85%;
	height: 100%;
	margin: auto;
}
span.span3{
	font-size: 34px;
	font-family: sans-serif;
	font-weight: lighter;
}
span.span4{
	margin-left: .30em;
	color: grey;
	font-size: 23;
	font-family: sans-serif;
     font-size-adjust: 0.50;

}
div.div4{
	margin:auto; 
	margin-left: -5px ; 
	margin-top: 15px;
}
div.div
	{
		margin-top: 20px;
		width: 350px;
		float: left;
	}
	.h2
	{
		font-size: 22px;
		font-family: sans-serif;
		color: #0088ff;
		font-weight: lighter;
	}
	.text
	{
		font-weight: normal;
		opacity: 0.6;
		font-family: arial;
		font-size: 13.5px;
	}
	.image{
		height: 200px;
	}
	.div
	{
		width: 140px;
		margin: 10px;
		float: left;
	}
	div.footer{
		clear: both;
		color: black;
		font-size: 12;
		padding:50;
		margin-left: -50;
		margin-bottom: 5;
		font-family: sans-serif;
		opacity: 0.7;
		vertical-align: :center;
	}

