body
{
margin:0px;
}
div.div1{
	background-color: 
	black;width: 97%; 
	padding: 20px;

}
span.span1{
	font-size:14px;
	color: grey; 
	font-family: sans-serif;
	margin-left: 80px;
}
span.span2{
	font-size:12px;
	color: grey; 
	font-family: sans-serif;
}

div.div2{
	width: 85%;
	height: 100%;
	margin: auto;
}
span.span3{
	font-size: 35px;
	font-family: sans-serif;
}
span.span4{
	color: grey;
	font-size: 26;

}
div.div4{
	margin:auto; 
	margin-left: -5px ; 
	margin-top: 10px;
}
div.div
	{
		margin-top: 20px;
		width: 350px;
		float: left;
	}
	.h2
	{
		font-size: 20px;
		font-family: sans-serif;
		color: #0088ff;
	}
	.text
	{
		font-family: sans-serif;
		font-size: 12px;
	}
	.image{
		height: 200px;
	}
	.div
	{
		width: 140px;
		margin: 10px;
		float: left;
	}
	div.footer{
		clear: both;
		color: grey;
		font-size: 12;
		padding:30;
		margin-left: -20;
	}

