body{
	    font-family: AtlasGrotesk,sans-serif;
    margin: 0px auto;
}

.top{
	background-color: #222222;
	height: 50px;

}
.menu{
	display: none;
}
.toplist{
	font-weight: 500;
	color: #777777;
	font-size: 15px;
	padding: 15px 0px 15px 0px;
	margin: 0 auto;
	max-width: 1100px;
	font-family: sans-serif;
}
.main{
	font-size:18px;
}
.top span{
	padding-left: 20px;

}

.head{
	padding-top: 70px;
	margin: 0 auto; 
    max-width: 1100px;
}
.content{
	background-color: #eeeeee;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 60px;
	padding-bottom: 60px;
	border-radius: 10px;
	margin: 0px 20px 0px 20px;
}
#head{
	font-size: 60px;
	font-weight: 500;
}
.content p{
	font-size: 18px;
	font-weight: 200;
}
.buttonbtop{
	background-color:#428bca;
	height: 40px;
    width: 120px;
	border-radius:5px;
	color: white;
	border-style: none;
}
.buttonb{
	background-color:#428bca;
	width: 80px;
	height: 40px;
	border-radius:5px;
	color: white;
	overflow: hidden;
	border-style: none;
}
.buttonw{
	background-color:#FFF;
	width: 80px;
	height: 40px;
	border-radius:5px;
	overflow: hidden;
	border-style: solid;
	}
.partition{
	background-color:#eeeeee ;
	 height: 1px;
	 margin: 30px 21.5px 50px 21.5px;
}
.smallhead{
	font-size: 24px;
	margin-left: 21px;
}

.grid{
	margin: 0 auto;
	max-width: 1100px;
}
.tab{
	padding: 4px;
	float: left;
	width: 20%;
	border-color: #eeeeee;
	border-radius:5px;
	border-style: solid;
	border-width: 2px;
	margin: 5px 21.5px 20px 21.5px;
	 
}
img {
	padding: 0px;
	width: 100%;
	height: 100%;
}
.contain{
	text-align: center;
	width: 85%;
	height: 125px;
	padding: 17px;
}
.contain span{
	font-size: 20px;
}
.contain p{
	font-size: 15px;
}
.footer{
	margin: 0 auto;
	max-width: 1100px;
	padding-bottom: 50px;
	color: #222222;
	font-family: AtlasGrotesk, sans-serif;
    opacity: 0.5;
}
.footer span{
	margin-left: 20px;
}
.low{
	display: none;
}
@media screen and (max-width: 1100px) and (min-width: 900px){
.toplist{
	max-width: 900px;
}
.head{
	padding-top: 50px;
    max-width: 900px;
}
.content{
	margin: 0px 25px 0px 25px;
}
.partition{
	margin: 30px 25px 50px 25px;
	}
.grid{
	max-width: 900px;
}
.tab{
	width: 27%;
	margin: 5px 22px 20px 22px;
	 
}
.footer{
	max-width: 900px;
}
.contain{	
	width: 86%;
}
}
@media screen and (max-width: 900px) and (min-width: 768px){
	.toplist{
	max-width: 768px;
}
.head{
	padding-top: 40px;
    max-width: 768px;
}
.partition{
	margin: 30px 23px 50px 23px;
	}
.grid{
	max-width: 768px;
}
.tab{
	width: 42%;
	margin: 5px 23px 20px 23px;	 
}
.content{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 45px;
	padding-bottom: 45px;
	border-radius: 5px;	
	margin: 0px 23px 0px 23px;
}
.contain{
		width: 90%;
}
.smallhead{
	margin-left: 23px;
}
.footer{
	max-width: 768px;
}
}

@media screen and (max-width: 768px) and (min-width: 566px){
	.toplist{
	max-width: 566px;
}
.head{
	padding-top: 40px;
    max-width: 566px;
}
#head{
	font-size: 50px;
}
.partition{
	margin: 30px 22px 50px 22px;
	}
.grid{
	max-width: 566px;
}
.tab{
	width: 40%;
	margin: 5px 22px 20px 22px;	 
}
.content{
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 4px;	
	margin: 0px 22px 0px 22px;
}
.content p{
	font-size: 14px;
	font-weight: 200;
}
.smallhead{
	font-size: 24px;
	margin-left: 22px;
}
.footer{
	max-width: 566px;
}
}
@media screen and (max-width: 566px){
	.toplist{
		display: none;
	}
	.menu{
	display: block;
	max-width: 350px;
	margin: 0 auto;
	padding-top: 9px;
}
.main2{
	color: #777777;
	margin-top: 5px; 
	float:right;
	font-size: 20px;
}
#menu1 {
  display: none;
}
.main{
	position: fixed;
	display: block;
}
.b1, .b2, .b3 {
    width: 20px;
    height: 3px;
    background-color: #777777;
    margin: 6px ;
    transition: 0.4s;
}

.change .b1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px) ;
    transform: rotate(-45deg) translate(-7px, 6px) ;
}

.change .b2 {opacity: 0;}

.change .b3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px) ;
    transform: rotate(45deg) translate(-6px, -6px) ;
}
.change #menu1 {
    display: block;
    position: absolute;
    right: 0px;
    width: 100%;
    margin-top: 8px;
}

#menu1 li{
	color: #777777;
  list-style-type:none;
  padding-left: 0px;
  position: relative;
  text-align: center;
  text-indent: -300px;
  border-top-width: thin;
  border-top-style: solid;
  border-color: white;
  font-size: 18px;
  width: 100%;
  background-color:#222222;
  color: white;
   }

#menu1 li:active {
background-color: #6eafe4;
}



.head{
	padding-top: 50px;
    max-width: 400px;
}
#head{
	font-size: 40px;
}
.partition{
	margin: 30px 22px 50px 25px;
	}
.grid{
	max-width: 400px;
}
.tab{
	width: 85%;
	margin: 5px 22px 20px 22px;	 
}
.content{
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 4px;	
	margin: 0px 22px 0px 25px;
}

.content p{
	font-size: 12px;
}
.smallhead{
	font-size: 24px;
	margin-left: 22px;
}
.contain{
	width: 90%;
}
.footer{
	max-width: 400px;
}

}
@media screen and (max-width: 400px) and  (min-width: 300px){
	.menu{
	display: block;
	max-width: 207px;
	margin: 0 auto;
	padding-top: 5px;
}
.head{
	padding-top: 35px;
    max-width: 257px;
}
#head{
	font-size: 35px;
}
#menu1 li{
		list-style-type:none;
  color: #777777;
  position: relative;
  text-align: center;
  text-indent: -150px;
}
.partition{
	margin: 30px 22px 50px 25px;
	}
.grid{
	max-width: 257px;
}
.tab{
	width: 80%;
	height: 100%;
	margin: 5px 22px 20px 22px;	 
}
.content{
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 4px;	
	margin: 0px 22px 0px 25px;
}
.content p{
	font-size: 12px;
}
.buttonw{
	width: 70px;
	height: 30px;
	
}
.clear{
	clear: both;
}
.buttonb{
	width: 70px;
	height: 30px;
	}
.contain{
	width: 83%;
	padding: 17px;
}
.contain span{
	font-size: 18px;
}
.contain p{
	font-size: 14px;
}
.smallhead{
	font-size: 24px;
	margin-left: 22px;
}
.footer{
	max-width: 257px;
}
}
@media only screen and (max-width: 300px)
{
.container{
	display: none;
}
.low{
	display: block;
	font-size: 30px;
}