body{
    margin: 0px auto;
    font-family: AtlasGrotesk,sans-serif;
}
.top{
	background-color: #222222;
	height: 50px;
}
.menu{
	display: none;
}
.toplist{
	font-weight: 500;
	color: #777777;
	font-size: 15px;
	padding: 15px 0px 15px 0px;
	margin: 0 auto;
	max-width: 1100px;
	font-family: sans-serif;
}
.low{
	display: none;
}

.top span
{
	padding-left: 15px;

}
.lo{
	font-size:18px;
		font-weight: 200;

}
.heading{
	padding-top: 70px;
	margin: 0 auto; 
    max-width: 1100px;
}
.buttonh{
	background-color:#428bca;
	height: 40px;
    width: 120px;
	border-radius:5px;
	color: white;
	border-style: none;
}
.con{
	background-color: #eeeeee;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 60px;
	padding-bottom: 60px;
	border-radius: 10px;
	margin: 0px 20px 0px 20px;
}
.con p{
	font-size: 18px;
			font-weight: 200;
}
#h{
	font-size: 60px;
	font-weight: 500;
}
.line{
	background-color:#eeeeee ;
	 height: 1px;
	 margin: 30px 21.5px 50px 21.5px;
}


.grid{
	margin: 0 auto;
	max-width: 1100px;
}
.heading2{
	font-size: 24px;
	margin-left: 21px;
}
.buttonb{
	background-color:#428bca;
	width: 80px;
	height: 40px;
	border-radius:5px;
	color: white;
	overflow: hidden;
	border-style: none;
}
.buttonw{
	background-color:#FFF;
	width: 80px;
	height: 40px;
	border-radius:5px;
	overflow: hidden;
	border-style: solid;
	}
img {
	padding: 0px;
	width: 100%;
	height: 100%;
}
	.imgs{
	padding: 4px;
	float: left;
	width: 20%;
	border-color: #eeeeee;
	border-radius:5px;
	border-style: solid;
	border-width: 2px;
	margin: 5px 21.5px 20px 21.5px;
	 
}
.imgs span{
	font-size: 20px;
}
.imgs p{
	font-size: 15px;
}
.footer{
	margin: 0 auto;
	max-width: 1100px;
	padding-bottom: 50px;
	color: #222222;
	font-family: AtlasGrotesk, sans-serif;
    opacity: 0.5;
}
.footer span{
	margin-left: 20px;
}
