body{
	margin: 0 auto;
	max-width: 100%;
    background-repeat: no-repeat;
    font-size: 2em;
    background-position: top left,bottom left;
    background-size: 100% 71%,100% 30%;
}
.bluebox{
	background-color: #00a0ff;
	z-index: 0;
	margin:auto;
	overflow: auto;
}
.black{
	width:100%;
	position:relative;
	bottom:0px;
	background:black;
	height:590px;
	z-index: 2;
	margin:auto;
}
.triangle{
	width:0;
	height:0;
	border-bottom:798px solid #008ee4;
	border-right:1230px solid transparent;
	z-index:1;
	margin-top:15px;
	padding-top: 20px;
}
.minitriangle{
	position:absolute;
	width:0;
	height:0;
	border-top:30px solid #ad807d;
	border-left:30px solid transparent;
	margin-top:537px;
	margin-left:495px;
	z-index: 9;
}
.chat{
float:left;	position:absolute;
	height:40%;
	width:50%;
	margin-top:-260px;
	z-index:4;
}
.chat p{
	float: left;
	padding: 20px;
	left: 0;
	font-family:sans-serif;
	font-size:22vw;
	color: white;
}
.chaticon{
	position:absolute;
	width:20%;
	height:35%;
	background:#ffbdb8;
    top:45%;
margin: 0 auto;
    left: 0;
    right: 0;
    border-top-right-radius:20px;
	border-bottom-right-radius: 20px;
	z-index:3;
}
.content{
	position:absolute;
    top: 720px;
    background: #FFF;
    width: 70%;
    height: 80%;
    max-width: 960px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 5;
}
.content input{
	border-width: 0;
	padding-top: 20px;
	padding-bottom:20px;
}
.content label{
	display:inline-block;
	margin-top: 40px;
	margin-left: 75px;
	font-size: 25px;
	color: #ad807d;
}
.username{
	width:80%;
	border:0;
	outline:0;
	background: transparent;
	margin-left:75px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.password{
	border:0;
	outline:0;
	background: transparent;
	margin-left:75px;
}
.login{
	border:0;
	outline:0;
	width:100%;
	height:100px;
	margin-top:70px;
}
.line{
	margin-top: 10px;
	width:70%;
	opacity: 0.5;
	margin-left: 75px;
	margin-top: 25px;
}
.slines1{
	margin-left: 15%;
	margin-top: 15%;
	width:60%;
	border:5px solid black;
}
.slines2{
	width:30%;
	border:5px solid black;
	margin-left: 15%;
}
@media screen and (max-width: 1230px) and (min-width: 900px){
.bluebox{
	max-width: 100%;
	margin:auto;
}
.triangle{
	width:0;
	height:0;
	border-bottom:798px solid #008ee4;
	border-right:1170px solid transparent;
	z-index:1;
	margin-top:15px;
}
.triangle{
}
.black{
	width:100%;
	max-width: 1200px;
	min-width: 900px
    margin:auto;
}
.chat{
height:40%
width:50%;
}



}


@media screen and (max-width: 950px) and (min-width: 768px){
.bluebox{
	max-width: 100%;
	margin:auto;
}
.triangle{
border-right: 750px;
}
.black{
	max-width: 100%;
	margin:auto;
}
.content{
	max-width: 70%;
margin:auto;
}



}

@media screen and (max-width: 800px) and (min-width: 600px){
.bluebox{
	max-width: 100%;
}
.triangle{
	width:0;
	height:0;
	border-bottom:798px solid #008ee4;
	border-right:700px solid transparent;
	z-index:1;
	margin-top:15px;
}
.black{
	max-width: 100%;
}
.content{
	max-width: 70%;
margin:auto;
}
}
@media screen and (max-width: 600px) and (min-width: 435px){
.black{
	max-width: 100%;
}
.content{
	max-width: 70%;
margin:auto;
}
.chaticon{
	width:25%;
	height: 25%;
}
.bluebox{
	max-width: 100%;
}
.triangle{

	width:0;
	height:0;
	border-bottom:798px solid #008ee4;
	border-right:550px solid transparent;
	z-index:1;
	margin-top:15px;
}
.chat{
	width: 40%;
	height: 50%;
}
.chat p{
font size:130px;
}
}
@media screen and (max-width: 435px) and (min-width: 410px)
{
	.bluebox{
	max-width: 100%;
}

.black{
	max-width: 100%;
}
.content{
width: 85%;
margin:auto;
height:60%;
}
.chaticon{
	width: 40%;
	height: 18%;
}
.triangle{
	width:0;
	height:0;
	border-bottom:798px solid #008ee4;
	border-right:415px solid transparent;
	z-index:1;
	margin-top:15px;
}
.minitriangle{
	width:0;
	height:0;
	border-top:30px solid #ad807d;
	border-left:30px solid transparent;
	margin-top:487px;
	margin-left:130px;
	z-index: 9;
}
}
